/* header 最外層 */
header {
  background-color: #FF80BF;
}
header .header_content {
  height: 50px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  color: #fff;
  justify-content: space-between; /* 整個區塊平均分配 */
  align-items: center; /* 垂直置中，要有 display flex 才能使用 */
}

/* nav 區塊 */
header nav {
  display: flex;
}
header nav div {
  margin: 0 15px;
  cursor: pointer; /* 游標變手指頭符號 */
}
header nav div:nth-child(1) { /* 選取器：針對第幾個 css 命名去做 css */
  margin-left: 0;
}
header nav div:last-child { /* 選取器：針對最後一個 css 命名去做 css */
  margin-right: 0;
}
header .login {
  cursor: pointer;
}
nav a {
  color: #fff;
  text-decoration:none;
}

/* 主要產品 */
main {
  margin-top: 20px;
}
main .product {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}
main .product > div { /* > 就是選擇第一層的 div */
  width: 225px;
  margin: 10px;
}
main .prouductcontents {
  margin-top: 20px;
  color: #000;
  font-size: 14px;
}
main p {
  margin-top: 10px;
  color: #7d7d7d;
  font-size: 13px;
}


footer {
  background-color: 	#e67683;
  height: 56px;
  margin-top: 50px;
  text-align: center;
  padding-top: 20px;
}
footer .footer_declaration {
  margin-top: 10px;
  font-size: 12px;
}
footer span {
  margin: 0 10px;
  font-size: 14px;
  cursor: pointer;
}

.wrap {
  margin: 0 auto;
  background-image: url('../images/myself.jpg'); /* backgound-images、background-size 有相關 通常都是一起寫 */
  background-size: 100%;
  height: 500px;
  width: 1000px;
}

.wrap .wrap_bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1)0%, rgba(255, 255, 255, 0)75%);
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1)0%, rgba(255, 255, 255, 0)75%);
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1)0%, rgba(255, 255, 255, 0)75%);
  background: -o-linear-gradient(0deg, rgba(0, 0, 0, 1)0%, rgba(255, 255, 255, 0)75%);
  height: 500px;
}

h2 {
  width: 350px;
  text-align: center;
  padding-top: 104px;
  font-size: 28px;
  color: #fff;
  font-family: Microsoft JhengHei;
}

.themes p {
  font-family: Microsoft JhengHei;
  color: aliceblue;
  font-size: 16px;
  width: 350px;
  padding: 20px;
  line-height: 1.5;
  letter-spacing: 1px; /* 字跟字的距離 */
}

.message {
  font-family: Microsoft JhengHei;
  color: aliceblue;
  font-size: 16px;
  width: 350px;
  margin: 0 23px 15px;
  padding-bottom: 10px;

  
}

.font p {
  font-family: Microsoft JhengHei;
  color: aliceblue;
  font-size: 16px;
  width: 350px;
  padding: 20px;
  line-height: 1.5;
  letter-spacing: 1px; /* 字跟字的距離 */
  padding-top: 2px;
}

.content {
  margin: 0 auto;
  width: 1000px;
  background-color: #CCDDFF;
  padding-bottom: 20px;
}

.content h2 {
  font-family: Microsoft JhengHei;
  color: 	#444444;
  font-size: 28px;
  width: 60px;
  padding: 20px;
  line-height: 1.5;
  letter-spacing: 1px; /* 字跟字的距離 */
}

.content h3 {
  font-size: 20px;
  font-family: Microsoft JhengHei;
  border-bottom: 1px solid;
  width: 100px;
  padding-bottom: 10px;
}

.list {
  display: flex;
}

.content .list .list_name {
  width: 25%;
  padding-left: 6%;
}

.list .list_name li {
  margin: 10px 0 ;
  font-family: Microsoft JhengHei;
  list-style-type: disc;
  margin-left: 24px;
}
.information h4 {
  font-family: Microsoft JhengHei;
  color: 	#444444;
  font-size: 28px;
  padding: 22px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.information p {
  margin: 10px 24px;
  font-family: Microsoft JhengHei;
  font-size: 18px;
  color: #444444;
  line-height: 1.5;
  text-align: justify;
  letter-spacing: 1px;
}

.works {
  margin: 0 auto;
  width: 1000px;
  background-color: #CCDDFF;
  padding-bottom: 20px;
}
.works h5 {
  font-family: Microsoft JhengHei;
  color: 	#444444;
  font-size: 28px;
  padding: 22px;
  line-height: 1.5;
  letter-spacing: 1px;
}